.App {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: $primary;
    color: white;
}

.navbar-height {
    padding-top: 100px;
}

*, *::before, *::after {
    box-sizing: border-box;
}